.menu__list {
  list-style-type: none;
  border: 1px solid #000;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.menu__link:hover {
  color: red;
}

.menu__link:active {
  color: green;
}

.menu__list:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.menu__list:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu__list:hover .menu__link {
  text-decoration: none;
}
