.content {
  position: relative;
}

.item {
  width: 105px;
  height: 105px;
  background-color: forestgreen;
  position: absolute;
}

.items-2 {
  display: none;
  background-color: yellow;
}

.content:hover .items-2 {
  z-index: 1;
  display: block;
}