body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.heading1 {
    width: 510px;
    font-size: 64px;
    color: #1F3F68
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.top_info {
    display: block;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68
}

.top_text {
    width: 425px;
}

.heading3 {
    font-size: 36px;
    text-align: center
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68
}

.card_box {
    display: flex;
    justify-content: space-between;
}

,card {
    width: 359px;
}

.footer_info {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-between;
}

.heading_contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.input_text {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4
}

.button_style {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500.
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase
}