body {
    font-family: sans-serif;
}

.heading {
    text-align: center;
}

.text {
    color: blue;
    font-family: serif;
}

.list {
    list-style-type: none;
    color: blue;
}

ul li a {
  color: green;
}

ul>li {
    border: 1px solid red;
}